.header {
  text-align: center;
  background-color: #240212;
  color: #EB8E4B;
}

.menu {
  font-size: 18px;
  line-height: 20px;
  border: 3px solid white;
  outline: 3px solid black;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

.post {
  border: 1px solid black;
  padding: 2%;
}

h3.title {
  color: #B28D39;
}

.meta {
  color: #B28D39;
  font-style: italic;
}

.summary {
  font-size: 14px;
  margin-left: 14px;
}

.more {
  margin-left: 60px;
}

a:link {
  color: #EB8E4B;
}

a:visited {
  color: #CC2F3A;
}

.about {
  text-align: center;
  color: #3962B2;
}

h1.about {
  font-size: 48px;
  line-height: 50px;
  color: #0C2A66;
}

h2.about {
  font-size: 32px;
  line-height: 34px;
  color: #3993A0;
}

ul.list {
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
